#oneko {
    position: fixed;
    image-rendering: pixelated;
    left: 16px; top: 16px;
    width: 32px; height: 32px;
    background: url(/assets/neko/oneko_sakura.gif);
    z-index: 2533;
    scale: 1.5;
    opacity: .7;
    pointer-events: none;
}