.cornerCara[id="1"] {background-image: url(../../image/cornerCara/marisa1.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="2"] {background-image: url(../../image/cornerCara/marisa2.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="3"] {background-image: url(../../image/cornerCara/marisa3.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="4"] {background-image: url(../../image/cornerCara/marisa4.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="5"] {background-image: url(../../image/cornerCara/marisa5.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="6"] {background-image: url(../../image/cornerCara/marisa6.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="7"] {background-image: url(../../image/cornerCara/marisa7.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="8"] {background-image: url(../../image/cornerCara/marisa8.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="9"] {background-image: url(../../image/cornerCara/marisa9.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="10"] {background-image: url(../../image/cornerCara/marisa10.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="11"] {background-image: url(../../image/cornerCara/marisa11.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="12"] {background-image: url(../../image/cornerCara/marisa12.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="13"] {background-image: url(../../image/cornerCara/marisa13.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="14"] {background-image: url(../../image/cornerCara/marisa14.webp), url(../../image/cornerCara/marisaB.webp);}
.cornerCara[id="15"] {background-image: url(../../image/cornerCara/marisa15.webp), url(../../image/cornerCara/marisaB.webp);}
