<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title></title>

                <link rel="stylesheet" href="/assets/styles/default/structure.css" onerror="fallss(this)"> <!-- essential stylesheet -->
        </head>

        <body>
                <div id="headbar">
                </div>

                <div id="main">

                        <div id="main_window">
                                <div id="main-left">
                                        <div id="banner"></div>
                                        <div id="page">
                                                <div class="toolbar">
                                                        <div class="toolbtn maximize"></div>
                                                        <div class="toolbtn resize"></div>
                                                        <div class="toolbtn home"></div>
                                                </div>
                                                <div id="sect_navi" class="panel">
                                                        
                                                </div>
                                                <div class="content">
                                                        <iframe src="frames{{ page.url }}"></iframe>
                                                </div>
                                        </div>
                                </div>
                                <div id="main-right">
                                        
                                </div>
                        </div>


                </div>        

                <div id="footbar">
                </div>
        </body>
        <footer>
        </footer>
</html>
