---
---

iframe { display: none; } // hide navlink before apply style.css

input[type="checkbox"] { display: none; }

body {
    position: fixed;
    inset: 0;
}

@mixin sizeUni($m, $property: height) { #{$property}: MIN($m * 8px, $m * 9vw/16); }
// @mixin sizeUni($m, $property: height) { #{$property}: Min($m * 8px, $m * 9vw/16); }

/* ==== L A Y O U T T A B L E ==== */

.soup\.exe {
// pos
    position: absolute;
    left: 40%; top: 45%;
    transform: translate(-40%, -45%);
// size
    @include sizeUni(52);
    aspect-ratio: 2.6;

    // flex
    display: flex;

    .c1 {
        flex: 5;
        width: 0;
        display: flex;
        flex-direction: column;

        .banner {
            @include sizeUni(10);
        }

        .main {
            position: relative;
            width: auto;
            flex: 1;
            display: flex;

            .nav {
                max-width: MIN(20 * 8px, 20 * 9vw/16); ;
                flex: 3;
                min-width: min-content;
            }

            .window {
                flex: 10;
                display: flex;
                // flex-direction: row-reverse;

                .content {
                    position: relative;
                    width: 100%;
                // prevent initial animation
                    background: #fff;
                    color: #44d;
                    padding-bottom: 25%;
                }
            }
        }

        .bottom {
            --height: 40px;
            position: absolute;
            top: MAX(calc(100% - var(--height)), 280px);
            z-index: 1;
            height: var(--height);
        }
    }

    .c2 {
        position: relative;
        max-width: MIN(35 * 8px, 35 * 9vw/16); ;
        flex: 3;
        z-index: 1;
    }
}

.fullscreen {
    opacity: 0;
    pointer-events: none;
}

.fullscreenTg { display: none; }

/* ====overflow ctrl==== */

.soup\.exe, .body, .banner, .main, .nav, .bottom, .window { overflow: hidden; }

.nav-c, .content { overflow: hidden scroll; }
