---
---

iframe { display: initial; } // show navlink after apply style.css

@import "normalize";

:root {
    --color:                #44d;
    --color-sat:            #00f;
    --color-fade:           #eef;
    --color-plain:          #000;
    --color-mid:            #666;
    --color-green:          #464;
    --color-green-fade:     #efe;
    --color-red:            #d00;
    --color-red-fade:       #fee;
    --color-yellow:         #ff0;
    --color-yellow-fade:    #ffe;
    --color-miku:           #4dd;
    --color-miku-fade:      #eff;
    --color-magenta:        #f4f;
    --color-magenta-fade:   #fef;
    --color-page:           #fff;
}

@mixin darkscheme {
    --color:                #aaf;
    --color-fade:           #224;
    --color-plain:          #fff;
    --color-mid:            #aaa;
    --color-green:          #aca;
    --color-green-fade:     #232;
    --color-red:            #faa;
    --color-red-fade:       #422;
    --color-yellow-fade:    #662;
    --color-miku-fade:      #066;
    --color-magenta-fade:   #626;
    --color-page:           #002;
}



/* ==== M A I N ==== */

#soup\.exe {
// styl
    border: #fff 1px solid;
    box-shadow: 10px 10px 20px 10px #44d;
    &::-webkit-resizer { background: url(/assets/image/resizer.gif) {size: cover}; }
}

#soup\.exe, #pseu {
// resize
    max: { height: 95vh; width: 99vw }
    min: { height: 25vh; width: 25vw }
    resize: both;
}

html { image-rendering: pixelated; }

// main bg
html {
    background: url(/assets/image/bg.gif) {
        color: #000;
        position: center;
        size: MAX(20vw,40vh);
    }
}

html::before { content: "";
    position: fixed;
    inset: 0;
    z-index: -2;
    pointer-events: none;
    background: url(/assets/image/cloud.webp) {
        size: cover;
        position: center;
    };
}

html::after { content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url(/assets/image/rain.gif);
    opacity: .5;
}

html:has(.cornerCara:not([id="0"])) {
    background: url(/assets/image/IMG_1148.JPG) {
        color: #000;
        size: contain;
        position: right;
    };
}

/* ======= */



/* ==== C 1 ==== */

.c1 {
    .banner {
    // styl
        border: #000 1px solid;
        background: url(/assets/image/chimes.gif) { size: cover; };
        background-position-y: 60%;

        box-shadow: inset 10px -10px 5px -5px   #44d,
                    inset -30px 0 30px -20px    #44da,
                    inset -90px 50px 30px -30px #fff;

        &::before, &::after {
            position: absolute;
            inset: 0;
            background-repeat: no-repeat !important;
        }

        &::before { content: "";
            background: url(/assets/image/banner.png) {
                color: #ccf;
                size: MAX(90%, 600px) 100% !important;
                position: 40px;
            };
            mix-blend-mode: hard-light;
            opacity: .8;
        }

        &::after { content: "";
            background: url(/assets/image/bannerTxt.png) {
                size: auto 100% !important;
                position: calc(100% - MAX(20%, 20px)) !important;
            };
            // opacity: .5;
        }

    }

    .main {

        /* ==== N A V B A R ==== */

        .nav {
        // pos
            position: relative;
            z-index: 100;
            background: #d1d1f7 url(https://64.media.tumblr.com/c63ab1ff7f79b9d030a8a3a14f3535ec/tumblr_inline_mveh0uIwTZ1rfdbtm.png) {position: bottom right};

            nav {
                position: relative;
                z-index: -1;
                p {
                    padding: { inline: 1em; block: .5em; };
                    margin-block: 0;
                }


                a, .urHere-i {
                    padding: { right: 100%;  block: .5em; };
                    margin:  { right: -100%; block: -.5em };
                }
                
                p {
                    text-shadow: #d1d1f7 2px 2px;
                    transition: all 0s .2s, background-color 0s .4s;
    
                    a {
                        &.urHere { pointer-events: none; }
                    }
    
                    a, .urHere-i { color: #44d; }    

                    &:nth-child(even) { background: #fff8; }

                    &:hover {
                        transition: all 0s;
                        text-align: right !important;
                        filter: invert(1);
                    }
                }
            }
        }
    }

    .bottom {
    // size
        width: 100%;
    // styl
        background: #0008;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}



/* ==== C 2 ==== */

.c2 {
    &-b {
    // pos
        position: absolute;
        inset: 0;
    // styl
        image-rendering: pixelated;
        background: url(/assets/image/bg2.gif) {
            color: #000;
            size: MAX(10vw,20vh);
        };
    }

    .chatroom {
    // pos
        position: absolute;
        inset: 0;
        width: auto; height: auto;
        overflow: scroll;
        // margin-inline: 5%;

        .giscus {
            height: 100%;

            .giscus-frame {
                position: absolute;
                inset: 0 unset;
            }
        }
    }

    & iframe[name="neolink"] {
        position: absolute;
        margin: 10px;
        bottom: 0;
    }
}

/* ======== */



/* ==== C O N T E N T ==== */

.content {
// styl
    text-align: justify;
    text-justify: inter-ideograph;
    background-color: var(--color-page);
    padding-inline: 3em 2em;
}

// fullscreen

.fullscreen {
    transition: opacity .2s .2s, top .2s, bottom .2s;
// pos
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50vh; bottom: 50vh;
    transform: translateX(-50%);
    z-index: 10;
// size
    width: 90vw;
// styl
    background: #d1d1f7;
    box-shadow: -1px -1px 0 1px #e8e8fb,
                0 0 0 2px       #000,
                inset -2px -4px #a2a2ee,
                inset 2px 2px   #fff;

    &.on {
        transition: opacity .2s, top .2s, bottom .2s;
        opacity: 1;
        pointer-events: all;
        top: 2vh; bottom: 2vh;
    }

    .content {
    // size
        flex: 9;
        padding-inline: 2em calc(2em + 5vw);
        margin: 6px;
    // styl
        font-size: 1.2rem;
        box-shadow: inset -2px -2px #e8e8fb,
                    inset 2px 2px   #44d;
    }

    .bottomBar {
        position: relative;
        height: 1em;
        margin: { block: 0 10px; inline: 6px };
        color: var(--color);

        .left, .right { display: inline-block; }

        .right {
            position: absolute;
            right: 0;
        }
    }
}

@mixin fullscreen-dark {
    background: #338;
    box-shadow: -1px -1px 0 1px #aaf,
                0 0 0 2px       #44d,
                inset -2px -4px #224,
                inset 2px 2px   #000;

    .buttonBar { background: linear-gradient(90deg, #44d 20%, #000); }

    .content { box-shadow: inset -2px -2px #224,
                           inset 2px 2px   #aaf;
    }

    .bottomBar { color: #fff; }
}

// button bar

.buttonBar {
// size
    height: 1.5em;
    padding: .25em;
// styl
    color: #fff;
    background: linear-gradient(90deg, #44d 20%, #a2a2ee);
    text-wrap: nowrap;
    overflow: hidden;

    .toggle {
    // pos
        position: absolute;
        display: block;
        top: .25em;
        margin-right: .5em;
    // size
        width: 1.5em; height: 1.5em;
    // styl
        box-sizing: border-box;
        background: #d1d1f7;
        box-shadow: inset -1.5px -1.5px #44d,
                    inset 1.5px 1.5px   #fff,
                    inset -3px -3px     #a2a2ee,
                    inset 3px 3px       #e8e8fb;

        &::before { content: "";
            position: absolute;
            top: 5px; left: 5px;
            right: 6px; bottom: 6px;
            image-rendering: pixelated;
            background: {
                size: cover !important;
                repeat: no-repeat !important
            };
        }

        &:hover { background: #e8e8fb; }

        &:active {
            background: #d1d1f7;
            box-shadow: inset -1.5px -1.5px #fff,
                        inset 1.5px 1.5px   #44d,
                        inset -3px -3px     #e8e8fb,
                        inset 3px 3px       #a2a2ee;

            &::before {
                top: 6px; left: 6px;
                right: 5px; bottom: 5px;
            }
        }

        .window &.fullscreenTg::before     { background: url(/assets/image/button/max.gif);   }
        .fullscreen &.fullscreenTg::before { background: url(/assets/image/button/unmax.gif); }
        &.darkTg::before                   { background: url(/assets/image/button/dark.gif);  }
        &.fontTg::before                   { background: url(/assets/image/button/font.gif);  }
    }

    .window & {
    // pos
        position: relative;
        height: 100%;
        min-width: 20px;
        max-width: 20px;
        padding-inline: .25em;
    // styl
        background: #44d;

        .toggle {
            left: 50%;
            transform: translateX(-50%);
        }

        .darkTg { top: 2em; }
        .fontTg { top: 3.5em }
    }

    .fullscreen & {
        .fullscreenTg { right: 0em; }
        .darkTg { right: 1.75em; }
        .fontTg { right: 3.25em; }
    }
}



/* ==== C O R N E R ==== */ // WARNING: spaghetti ahead!!!

.cornerCara {
    &, &-b {
    // pos
        position: fixed;
        bottom: -16vh; right: calc(10vw - 39vh);
        transform: scale(75%);
        z-index: -3;
    // size
        height: calc(100vh + 10vw);
        max-height: 140vh;
        aspect-ratio: .77;
    // styl
        filter: drop-shadow(-1vw 2vw #0008);
    }

    &-b {
        transition: opacity 1s;
        pointer-events: none;
    // pos
        z-index: 2;
    }

    &::before { content: "";
        position: absolute;
        inset: 0;
    }

    #soup\.exe:is(:hover, :active) ~&-b { transition: opacity 0s; opacity: .2; }

    /* ====randomBG==== */

    @for $i from 0 through 15 { &[id="#{$i}"] +&-b, &[id="#{$i}"]::before { background: url(/assets/image/cornerCara/marisa#{$i}.webp)
        { size: contain } }; }

    & {
        background: url(/assets/image/cornerCara/marisaB_.webp) {
            size: 120%;
            position: -40% -40%;
        };
        image-rendering: pixelated;
    }
}

.ibm {
    &, &-b {
    // pos
        position: absolute;
        right: calc(10vw - 39vh); bottom: 0;
        z-index: -1;
        pointer-events: visible;
        transform: translateX(-20%);
    // size
        height: calc(25vh + 2.5vw);
        max-height: 35vh;
        aspect-ratio: 2;
    }

    &-b {
        mix-blend-mode: darken;
    }
}

.vid {
// pos
    position: absolute;
    display: none;
    right: -38%; bottom: -55%;
    transform: scale(.17, .23) rotate(8deg) skew(3deg);
// size
    width: 170%;
    aspect-ratio: 16/9;
// styl
    pointer-events: none;
    background: #fff;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        inset: 0;
    }

    .mask:has(input:checked) ~ & { display: block; animation: flicker .05s linear infinite; }

    @keyframes flicker {
        0% { opacity: .65;}
        50% { opacity: .65;}
        50.1% { opacity: .5; }
        100% { opacity: .5; }
    }
}


.pc {
    transition: visibility 0s 1s, opacity 1s;
    visibility: hidden;

    &-b {
        transition: opacity 1s;
        z-index: 1;
    }

    &, &-b {
    // pos
        position: absolute;
        right: 8%; bottom: 0%;
    // size
        width: 75%;
        aspect-ratio: 1.63;
    // styl
        pointer-events: none;
        background: url(/assets/image/ibm.png) { size: cover; };

        &::before {
            position: absolute;
            left: 35%;
            top: 45%;
            width: 50%;
            z-index: 20;
            transform: rotate(9deg) skew(7deg);
            font-size: 3.2vh;
        }
    }

    #soup\.exe:is(:hover, :active)  ~ .ibm-b & {
        transition: visibility 0s;
        visibility: visible;
    }

    #soup\.exe:is(:hover, :active) ~ .ibm &-b {
        transition: 0s;
        opacity: 0;
    }
}


.mask {
// pos
    position: absolute;
    display: block;
    right: 32.7%; bottom: 20%;
    z-index: 1;
    transform: rotate(11deg) skew(7deg);
// size
    width: 28%;
    aspect-ratio: 1.34;
// styl
    background: url(/assets/image/rainbowDither.png)
        {size: 4vw};
    opacity: 0;
    mix-blend-mode: darken;

    animation: maskScroll 1s linear infinite;
    @keyframes maskScroll {
        0% { background-position: 0; }
        100% { background-position: 8vw; }
    }

    &:has(input:checked) { opacity: .3; }

    &:not(:has(input:checked)) ~.pc-b, .ibm-b:not(:has(~.ibm & input:checked)) .pc {
        &::before { color: #fff; }
        &::before { content: "Power off"; filter: drop-shadow(0 0 5px #fff); }
    }
}

/* ======== */



/* ==== C U R S O R ==== */

// html { cursor: none;}

#soup\.exe, .fullscreen { cursor: url(/assets/image/cursor/hat.gif), auto !important; }

@mixin CursorGif($id) { cursor: url(/assets/image/cursor/hatq#{$id}.gif), auto; }

a, button, label, .cornerCara {
    animation: wonderCursor .5s infinite;
    @keyframes wonderCursor {
        0%   { @include CursorGif(1) }
        25%  { @include CursorGif(2) }
        50%  { @include CursorGif(3) }
        75%  { @include CursorGif(4) }
        100% { @include CursorGif(5) }
    }
}

canvas {
    transition: .5s;
    opacity: .5;
    z-index: -2;
    image-rendering: pixelated;
}

#soup\.exe:is(:hover, :active) {
    ~ canvas {
        opacity: 0;
        animation: hideCanvas .5s linear forwards;
        @keyframes hideCanvas {
            0% { visibility: visible; }
            100% { visibility: hidden; }
        }
    }
}


/* ======== */



/* ==== S C R O L L B A R ==== */
.window, .fullscreen {
    ::-webkit-scrollbar {
                       width:  16px;
        &:horizontal { height: 16px; }

        &-corner {
            background: #d1d1f7;
            box-shadow: inset -3px -3px     #a2a2ee,
                        inset 3px 3px       #e8e8fb;
        }

        &-track { background: url(/assets/image/scrollbar/bg.png) {size: 4px}; }

        &-thumb {
            background: #d1d1f7;
            box-shadow: inset -1.5px -1.5px #44d,
                        inset  1.5px  1.5px #fff,
                        inset -3px -3px     #a2a2ee,
                        inset  3px  3px     #e8e8fb;
        }

        &-button { background-size: cover !important;

            &:horizontal, &:vertical { &:start:decrement, &:end:increment { display: block; }}

            &:vertical { height: 16px;
                &:start { background: url(/assets/image/scrollbar/up.png); }
                &:end   { background: url(/assets/image/scrollbar/down.png); }
            }
            &:horizontal { width: 16px;
                &:start { background: url(/assets/image/scrollbar/left.png); }
                &:end   { background: url(/assets/image/scrollbar/right.png); }
            }
        }
    }

    .content::-webkit-scrollbar {
                       width:  24px !important;
        &:horizontal { height: 24px !important; }

        &-button {
            &:vertical { height: 24px !important; }
            &:horizontal { width: 24px !important; }
        }
    }
}



@mixin scrollbar-dark {
    background: #338;
    box-shadow: inset -1.5px -1.5px #000,
                inset  1.5px  1.5px #aaf,
                inset -3px -3px     #224,
                inset  3px  3px     #44d;
}

/* ======== */



/* ==== T X T ==== */

html {
    color: #000;
    text-underline-offset: 12.5%;
}

::selection {
    color: var(--color-page);
    background: var(--color);
}

.content { color: var(--color) !important;
    overflow-wrap: break-word;

    >p:not([class], :has(img)):after { content: "湯";
    //pos
        position: relative;
        display: inline-block;
        padding-left: .3em;
    //styl
        line-height: .5em;
        opacity: .5;
        font-size: .7em;
        color: var(--color-red);
        transform: rotate(15deg);
        white-space: pre;
    }
}

pre {
    overflow-x: auto;
}

.content a {
    position: relative;
    color: var(--color-miku);

    &::after { content: "";
        position: absolute;
        inset: -.5em;
    }
}

/* HEADERS */

// headers font style
$hs: 1, 2, 3, 4; @each $i in $hs {
    h#{$i}, .fake.h#{$i} { font-weight: bolder; }
}

$hs: 5, 6; @each $i in $hs {
    h#{$i}, .fake.h#{$i} { font-weight: normal; }
}
$hs: 4, 6; @each $i in $hs {
    h#{$i}, .fake.h#{$i} { font-style: italic }
}

// headers margin block
$hs: 1, 2, 3, 4, 5, 6; @each $i in $hs {
    h#{$i} { margin-top: 1em; } // 1em top margin if headers is the first element
    :first-child ~ h#{$i} { margin-top: 2em; } // 2em top margin if else
}

$hs: 1, 2; @each $i in $hs {
    h#{$i}, .fake.h#{$i} { margin-bottom: 1em; }
}
$hs: 3, 4, 5, 6; @each $i in $hs {
    h#{$i}, .fake.h#{$i} { margin-bottom: .5em; }
}

// reduce margin in between two adjacent headers
$hs: 1, 2, 3, 4, 5, 6; @each $i in $hs {
    h#{$i} { @each $i in $hs { +h#{$i} { margin-top: 0 !important; } } }
}

// headers padding
$hs: 1, 2, 3, 4, 5, 6; @each $i in $hs {
    h#{$i} {
        position: relative;
        inset: -.5rem -.2rem;
        padding: .5rem .2rem;
    }
}

$hs:    1,    2,     (3, 4) ;
$hline: solid dashed dotted ;
@for $i from 1 through length($hs) { @each $h in nth($hs, $i) {
    h#{$h} { border-bottom: var(--color) 3px nth($hline, $i); }
}}

$hs: 4, 5, 6; @each $i in $hs {
    h#{$i} { width: max-content };
}

// reveal heading id
$hs: 1, 2, 3, 4, 5, 6; @each $i in $hs {
    h#{$i}[id] {
        --notify: "--> 点击复制标题链接";

        &::before, &::after {
            font-weight: normal;
            font-size: max(.5em, .8rem);
            opacity: .7;
       }
    }
}

$hs: 1, 2, 3; @each $i in $hs {
    h#{$i}[id] {
        &::before, &::after { display: block; }

        &::before { content: "#" attr(id) "\00a0";
        // pos
            position: relative;
            bottom: .2em;
        // styl
            text-decoration: dashed underline 1.5px;
        }

        &:hover { &::after { content: var(--notify);
            // pos
                position: absolute;
                top: .5rem; right: 0;
            // styl
                background: var(--color-page);
                opacity: 1;
            }
        }

        &:active {
            background: var(--color);
            color: var(--color-page);

            &::after { content: ""; }
            &::selection, ::selection {
                color: var(--color);
                background: var(--color-page);
            }
        }
    }
}

$hs: 4, 5, 6; @each $i in $hs {
    h#{$i}[id] {
        &::after { content: "\00a0#" attr(id) "\00a0" "\00a0"; }

        &:hover { &::before { content: var(--notify);
            // pos
                position: absolute;
                top: -.8em;
            // styl
                text-wrap: nowrap;
                background: var(--color-page);
                opacity: 1;
            }
        }

        &:active {
            background: var(--color);
            color: var(--color-page);

            &::before { content: ""; }
        }
    }
}

/* ======== */

// list
ul { ::marker { font-weight: bolder; color: var(--color-magenta); }
                list-style-type: "☆ ";
    ul { ::marker { font-size: 1em; }
                    list-style-type: hebrew;
        ul { ::marker { font-size: .7em; }
                        list-style-type: "。 ";
            ul { ::marker { font-size: .62em; }
                            // list-style-type: inherit;
                ul { // ::marker { font-size: inherit; }
                                list-style-type: "· ";
                }
            }
        }
    }
}

td ul { margin-block: 0; }

// check

ul.task-list {
    list-style-type: "- ";
}

input.task-list-item-checkbox {
    position: relative;
    margin-right: .5em;
    visibility: hidden;

    &::before { content: "";
        position: absolute;
        inset: 0;
        background: url(/assets/image/button/unchecked.gif) { size:cover; };
        visibility: visible;
    }

    &:checked::before { background: url(/assets/image/button/checked.gif) { size:cover; }; }
}

:not(pre) >code {
    // color: var(--color-mid);
    background: var(--color-page);
    margin-inline: .5em;

    &:is(::before, ::after) { content: "/";
        // font-family: "fusion", monospace; 
        margin-inline: .2em;
    }
}

// images:
// adaptive and rezizeable container & img maximize 
// overly fucked-up spaghetti code

.content img { -webkit-user-drag: none; }

p:has(img:not(.icon)) {
// pos 
    position: relative;
    display: block;
// size
    width: 60%;
    max-width: 100%;
    padding: .5em 4em .75em .75em;
    margin-block: 2em;
    overflow: auto;
    resize: both;
// styl
    text-align: center;
    border: var(--color) 2px dotted; 

    .window &           { max-height: MAX(20vh, 8em); }
    .window .content >& { max-height: MAX(100%, 8em); }
    .fullscreen &       { max-height: MAX(50vh, 8em); }

    img:not(.icon) {
    // pos
        position: relative;
    // size
        height: auto; width: auto;
        box-sizing: border-box;
        min-width: MAX(10em, 100%);
        max-width: 100%;
        margin-top: .25em;
    // styl
        border: var(--color-fade) 4px solid;
        &:hover { border-color: var(--color); }
    }

    &:has(img:not(.icon):active) {
    // pos
        position: fixed;
        inset: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 201;
    // size
        max-width: unset;
        max-height: unset;
        overflow: hidden;
        resize: none;
    // styl
        border: none;

        img:not(.icon) {
        // pos
            top: 50%;
            transform: translateY(-50%);
        // size
            max-height: 100%;
            min-width: 100%;
            object-fit: contain;
        // styl
            border: none;
        }
    }
}

.content:has(p img:not(.icon):active)::after { content: "";
    position: fixed;
    inset: -2px;
    background: #000a;
    z-index: 200;
};

/* ======== */



/* ==== D A R K M O D E ==== */

.content:has(~.buttonBar .darkTg input:checked) { background: #0008 !important; }

.buttonBar:has(.darkTg input:checked) ~.content, .content:has(~.buttonBar .darkTg input:checked) { @include darkscheme() }

.fullscreen:has(.darkTg input:checked) { @include fullscreen-dark; }

:is(.window, .fullscreen):has(.darkTg input:checked) ::-webkit-scrollbar-thumb { @include scrollbar-dark; }

/* ======== */



/* ==== F O N T ==== */

html {
    font-family: "fusion", monospace;
    &:has(.fontTg input:checked) { font-family: "ibm", monospace; }
}

code, kbd, samp {
    font-family: "ibm", monospace;
    html:has(.fontTg input:checked) & { font-family: "ibm", monospace; }
}

@font-face { font-family: "fusion";
    font-display: swap;
    src: url(/assets/font/fusion-pixel-10px-monospaced-zh_hant.ttf);
}

@font-face { font-family: "ibm";
    font-display: swap;
    src: url(/assets/font/IBM3161.ttf);
}

/* ======== */

@import "code";

@import "neko";

