---
---

html, code {
        font-family: "sarasa", monospace;
}

@font-face { 
        font-family: "sarasa";
        font-display: swap;
        src: url(/assets/font/SarasaMonoTC-Regular.ttf);
}
    
