<!doctype html>
<html lang="zh_cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-store">
    <title>A:¥霧雨蘑菇店/¥{{ page.title }}</title>

    <!-- store ghproxy prepended link as variable -->
    <script>
      var ghprxy = "https://ghproxy.com/https://raw.githubusercontent.com/Kirisoup/kirisoup.github.io/main";
      var ghprxy_s = ghprxy+"/_site";
    </script>

    <!--essential stylesheet -->
    <link rel="stylesheet" href="/assets/css/default/layout.css"
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href')">

    <!--async stylesheet -->
    <link rel="stylesheet" href="/assets/css/default/style.css" id="style.css"
    media="print" onload="this.onload=null;this.removeAttribute('media');"
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href');">

    <script>
      var stylesheet = document.getElementById('style.css');
      var styleURL = stylesheet.href;

      // Fetch and parse the stylesheet content
      fetch(styleURL)
        .then(response => response.text())
        .then(cssText => {
          // Use regular expressions or a CSS parser to extract URLs of assets
          var assetUrls = cssText.match(/url\((['"]?)(.*?)\1\)/g);

          if (assetUrls) {
            console.log(assetUrls)
            assetUrls.forEach(function(assetUrl) {
              // Extract the URL from url('...')
              var url = assetUrl.match(/url\((['"]?)(.*?)\1\)/)[2];

              // Determine the asset type based on the URL (you may need to extend this logic)
              var assetType = url.endsWith('.ttf') ? 'font' : 'image';

              if (assetType === 'image') {
                // For images
                var img = new Image();

                img.src = url;

                img.onerror = function() {
                  console.log('Error loading image asset:', url);
                  // You can add additional error-handling code here
                };
              } else if (assetType === 'font') {
                // For fonts or other asset types
                var font = new FontFace('Font Name', 'url(' + url + ')');

                font.load().then(function(loadedFont) {
                  document.fonts.add(loadedFont);
                  // console.log('Font asset loaded successfully:', url);
                }).catch(function(error) {
                  console.log('Error loading font asset:', url, error);
                  // You can add additional error-handling code here
                });
              }
            });
          }
        })
        .catch(error => {
          console.log('Error fetching stylesheet:', error);
          // You can add error-handling code here for the stylesheet itself
        });
    </script>

    <!--non-js fallback (no onerror for gfw suckers because, well, noscript) -->
    <noscript><link rel="stylesheet" href="/assets/css/default/style.css"></noscript>

    <!-- font preload to avoid stuck from ghproxy 404 -->
    <link rel="preload" href="/assets/font/fusion-pixel-10px-monospaced-zh_hant.ttf" as="font" crossorigin="anonymous"
    onerror="this.onerror=null; this.href = ghprxy + getAttribute('href')">
    <link rel="preload" href="/assets/font/IBM3161.ttf" as="font" crossorigin="anonymous"
    onerror="this.onerror=null; this.href = ghprxy + getAttribute('href')">

    <!--cursor trace -->
    <script src="/assets/js/cursor.js" async
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href')"></script>
    <script>
      window.addEventListener("load", (event) => {
        new cursoreffects.ghostCursor();
      });
    </script>
  </head>
  <body>
    <!-- change id only if javascript is enabled -->
    <div id="overflow-noscript">
      <script> document.getElementById("overflow-noscript").setAttribute("id", "overflow") </script>
    </div>
    <!-- main container -->
    <div id="soup.exe">
      <div class="c1">
        <div class="banner"></div>
        <div class="main">
          <div class="nav">
            <div class="nav-c">{% include navigation.html %}</div>
            <div class="nav-b"></div>
          </div>
          <div class="window">
            <div class="content">
              {{content}}
            </div>
            <div class="buttonBar">
              <label class="fontTg toggle" title="切换字体"><input type="checkbox"></label>
              <label class="darkTg toggle" title="切换深色模式"><input type="checkbox" id="dark1" onclick="
              if (document.querySelector('#dark2:checked')) { document.getElementById('dark2').checked=false; }
                                                       else { document.getElementById('dark2').checked=true; }
              "></label>
              <label class="fullscreenTg toggle" title="进入全屏"><input type="checkbox" onclick="
              document.getElementsByClassName('fullscreen')[0].className = 'fullscreen on'
              "></label>
            </div>
          </div>  
        </div>
        <div class="bottom"></div>
      </div>
      <div class="c2">
        <div class="c2-b"></div>
        <div class="chatBox"></div>
        <iframe id="navlink" width="90" height="90" style="border:none" src="https://dimden.neocities.org/navlink/" name="neolink"></iframe>
      </div>
    </div>
    <div class="fullscreen">
      <div class="buttonBar">
        <span class="title"> A:¥霧雨蘑菇店/¥{{ page.title }} </span>
        <label class="fontTg toggle" title="切换字体"><input type="checkbox"></label>
        <label class="darkTg toggle" title="切换深色模式"><input type="checkbox" id="dark2" onclick="
        if (document.querySelector('#dark1:checked')) { document.getElementById('dark1').checked=false; }
                                                 else { document.getElementById('dark1').checked=true; }
        "></label>
        <label class="fullscreenTg toggle" title="退出全屏"><input type="checkbox" onclick="document.getElementsByClassName('fullscreen on')[0].className = 'fullscreen'"></label>
      </div>
      <div class="content f"> {{ content }} </div>
      <div class="bottomBar">
        地址：{{ page.url }} | 作者：Kirisame Soup | 
      </div>
    </div>

    <!-- page corner -->
    <div class="cornerCara" ID="0" title="" onclick='this.id = Math.floor(Math.random() * 15 + 1)'></div>
    <div class="cornerCara-b"></div>
    <div class="ibm-b">
      <div class="pc"></div>
    </div>
    <div class="ibm">
      <label class="mask power" title="开机?"><input type="checkbox"></label>
      <div class="vid">
        <iframe src="https://www.bilibili.com/blackboard/html5mobileplayer.html?aid=625760&autoplay=1&muted=1" loading="lazy" scrolling="no" frameborder="no" sandbox="allow-same-origin allow-scripts"></iframe>
      </div>
      <div class="pc-b"></div>
    </div>
    <script src="/assets/js/link-id-copy.js" async
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href')"></script>
    <script src="/assets/js/resize-sync.js" async
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href')"></script>
    <script src="/assets/neko/oneko.js" async
    onerror="this.onerror=null; this.href = ghprxy_s + getAttribute('href')"></script>
  </body>
</html>
